<html>
<head>
    <title>CorpusProber</title>
    <meta name="viewport" content="width=device-width, initial-scale=0.3,  maximum-scale=2.0">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <style>
        body {
            height: 100%;
            width: 100%;
            /* min-width: 1000px; */
        }
        .blank {
            height: 23%;
        }
        #search_box {
            height: 48px;
            border-radius: 10px 0px 0px 10px;
            font-size: 20px;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
        #search_btn {
            background-color: rgb(167, 6, 6);
            height: 48px;
            border-radius: 0px 10px 10px 0px;
            font-size: 20px; 
        }
        .radio-inline {
            vertical-align: middle;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="page-header">
            <div class="row">
                <div class="col-md-1">
                    <a href="/search/"><img src="../static/imgs/R.png" style="height: 60px; margin: 0px;"></a>
                </div>
                <div class="col-md-4">
                    <h1 style="font-family: 'Courier New', Courier, monospace; font-weight: bold;">
                        <a href="/search/" style="text-decoration:none">CorpusProber</a>
                    </h1>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
        <div class="row blank">
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
        </div>
        <div class="row">
            <div class="container">
                    <form id="searchform" action="/text_search/" method="post">
                        <div class="row" style="margin-top:10px;">
                            <div class="col-md-10" style="padding-right: 0px; min-width: 450px;">
                                <span class="input-group-btn">
                                    <input class="form-control" id="search_box" name="query" placeholder="请输入查询内容" required="required">
                                    <!-- onKeyUp="value=value.replace(/[^\w+\s\-\_\:\'\,$]/g, '')" -->
                                </span>
                            </div>
                            <div class="col-md-2" style="padding-left: 0px;">
                            <button class="btn btn-info btn-search btn-block" id="search_btn" type="submit"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                            </div>
                        </div><br>
                        <div class="row" style="text-align: left; font-size: 20px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
                            <div class="col-md-1"></div>
                            <div class="col-md-2">
                                <label>
                                    <input type="radio" class="radio-inline" name="searchtype" checked="checked" value="zh_wiki">
                                    <span style="color: rgb(0, 0, 0); vertical-align: middle;">zh_wiki</span>
                                </label>
                            </div>
                            <div class="col-md-3">
                                <label>
                                    <input type="radio" class="radio-inline" name="searchtype" value="chinesewebtext">
                                    <span style="color: rgb(0, 0, 0); vertical-align: middle;">chinesewebtext</span>
                                </label>
                            </div>
                            <div class="col-md-2">
                                <label>
                                    <input type="radio" class="radio-inline" name="searchtype" value="wanjuan">
                                    <span style="color: rgb(0, 0, 0); vertical-align: middle;">wanjuan</span>
                                </label>
                            </div>
                            <div class="col-md-2">
                                <label>
                                    <input type="radio" class="radio-inline" name="searchtype" value="zhihu">
                                    <span style="color: rgb(0, 0, 0); vertical-align: middle;">zhihu</span>
                                </label>
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                    </form>
            </div>
         </div>
     </div>

     <script src="http://code.jquery.com/jquery-latest.js"></script>
     <script>
        $(document).ready(function(){
            $("#search_btn").click(function(){
                var a = $("input[name='searchtype']:checked").val();
                var newUrl = "/text_search/?qtype=" + encodeURIComponent(a);
                // if(a=="zh_wiki"){var newUrl = "/text_search/";}
                // if(a=="chinesewebtext"){var newUrl = "/text_search/";}
                // if(a=="wanjuan"){var newUrl = "/text_search/";}
                // if(a=="zhihu"){var newUrl = "/text_search/";}
                $("#searchform").attr('action', newUrl);    //通过jquery为action属性赋值
                $("#searchform").submit(a);    //提交ID为myform的表单
            })
        });
    

        function change1(){
            var inputType="${requestScope.flag}"; 
            //flag是在java中定义的一个变量,用于在刷新前后在页面中暂时保存radio状态
            var rd=document.getElementsByName("searchtype");  //searchtype是radio的name
            for(var i=0; i<rd.length; i++){
                if(inputType==i){
                    rd[i].checked=true;
                }
            }
        }
    </script>
</body>
</html>
