<!DOCTYPE html>
<html>
<head>
    <title>An Integrated Data Processing Framework for Pretraining Foundation Models</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/indent.css') }}">
</head>


<body>
    <div class="container">
        <div class="page-header">
            <div class="row">
                <div class="col-md-1">
                    <a href="/retriever"><img src="{{ url_for('static', filename='imgs/rocket.png') }}" style="height: 60px; margin: 0px;"></a>
                </div>
                <div class="col-md-10">
                    <h1>An Integrated Data Processing Framework for Pretraining Foundation Models</h1>
                </div>
            </div>
        </div>

        <!-- page: select an existing config -->
        <div class="container">
            <div class="sidebar">
                <ul>
                <li>Config type</li>
                <li class="with-indent">Select a config</li>
                <li class="with-indent-active">Customize a config</li>
                <li>Analyzing results</li>
                <li>Processing</li>
                <li>Retriever</li>
                <!-- <li class="with-indent">Retriever results</li> -->
                </ul>
            </div>
            
            <div class="content">

                <details>
                    <summary><span class="inline-title"><h3>customize a config</h3></span></summary>
                    <!-- <summary><h3>customize a config</h3></summary> -->
                    <form method="POST" action="/show_config">
                        <!-- Add input boxes for each parameter here -->
                        <div class="indent0">
                            <label for="custom_config">config name</label>
                            <input type="text" id="custom_config" name="custom_config" required><br><br>
                            
                            <!-- first layer of nested definition dictionary -->
                            {% for parameter1, definition1 in parameter_definitions.items() %}
                                <label for="{{ parameter1 }}">{{ parameter1 }}:</label>
                                {% if parameter1.startswith('if') or parameter3 == 'use' %}
                                    <select id="{{ parameter1 }}" name="{{ parameter1 }}">
                                        <option value="">-- true/false --</option>
                                        <option value=true>true</option>
                                        <option value="">false</option>
                                    </select><br><br>
                                {% elif definition1 is string %}
                                    <input type="text" id="{{ parameter1 }}" name="{{ parameter1 }}" placeholder="{{ definition1 }}" style="width: 40%;"><br><br>            
                                <!-- second layer of nested definition dictionary -->
                                {% elif definition1|is_dict %}
                                    <br><br>
                                    <div class="indent2">
                                        {% for parameter2, definition2 in definition1.items() %}
                                            <label for="{{ parameter2 }}">{{ parameter2 }}:</label>
                                            {% if parameter2 == 'comments' %}
                                                {{ definition2 }}<br><br>
                                            {% elif parameter2.startswith('if') or parameter3 == 'use' %}
                                                <select id="{{ parameter2 }}" name="{{ parameter1 }}.{{ parameter2 }}">
                                                    <option value="">-- true/false --</option>
                                                    <option value=true>true</option>
                                                    <option value="">false</option>
                                                </select><br><br>
                                            {% elif definition2 is string or definition2 is number %}
                                                <input type="text" id="{{ parameter2 }}" name="{{ parameter1 }}.{{ parameter2 }}" placeholder="{{ definition2 }}" style="width: 40%;"><br><br>                        
                                            <!-- third layer of nested definition dictionary -->
                                            {% elif definition2|is_dict %}
                                                <br><br>
                                                <div class="indent4">
                                                    {% for parameter3, definition3 in definition2.items() %}
                                                        <label for="{{ parameter3 }}">{{ parameter3 }}:</label>
                                                        {% if parameter3 == 'comments' %}
                                                            {{ definition3 }}<br><br>
                                                        {% elif parameter3.startswith('if') or parameter3 == 'use' %}
                                                            <select id="{{ parameter3 }}" name="{{ parameter1 }}.{{ parameter2 }}.{{ parameter3 }}">
                                                                <option value="">-- true/false --</option>
                                                                <option value=true>true</option>
                                                                <option value="">false</option>
                                                            </select><br><br>
                                                        {% elif definition3 is string or definition3 is number %}
                                                            <input type="text" id="{{ parameter3 }}" name="{{ parameter1 }}.{{ parameter2 }}.{{ parameter3 }}" placeholder="string{{ definition3 }}" style="width: 40%;"><br><br>
                                                        {% elif definition3|is_dict %}
                                                            <!-- sepcial process for extractor.mode -->
                                                            {% if parameter3 == 'mode' %}                                        
                                                            <br><br>
                                                            <div class="indent6">
                                                                {% for parameter4, definition4 in definition3.items() %}
                                                                    <label for="{{ parameter4 }}">{{ parameter4 }}:</label>                                                
                                                                    {% if definition4 is boolean %}
                                                                        <select id="{{ parameter4 }}" name="{{ parameter1 }}.{{ parameter2 }}.{{ parameter3 }}.{{parameter4}}">
                                                                            <option value="">-- true/false --</option>
                                                                            <option value=true>true</option>
                                                                            <option value="">false</option>
                                                                        </select><br><br>                                                
                                                                    {% endif %}
                                                                {% endfor %}
                                                            </div>
                                                            {% else %}
                                                                <input type="text" id="{{ parameter3 }}" name="{{ parameter1 }}.{{ parameter2 }}.{{ parameter3 }}" placeholder="key-value pairs, example: key1:value1;key2:value2" style="width: 40%;"><br><br>
                                                            {% endif %}
                                                        {% elif definition3|is_list %}                                        
                                                            <input type="text" id="{{ parameter3 }}" name="{{ parameter1 }}.{{ parameter2 }}.{{ parameter3 }}" placeholder="list of values, example: value1, value2, value3" style="width: 40%;"><br><br>
                                                        {% endif %}
                                                    {% endfor %}
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>

                                {% endif %}
                            {% endfor %}
                        </div>    
                        <div class="row">
                            <div class="col-md-6" style="text-align: left; padding-left: 110px; margin-bottom: 10px;">
                                <button type="submit" class="my-button">save the config</button>
                            </div>
                        </div>
                    </form>
                </details>

                <!-- return to index page -->
                <div class="row">
                    <div class="col-md-6" style="text-align: left; padding-left: 110px; margin-bottom: 10px;">
                        <form action="/" method="post">
                            <button type="submit" class="my-button">return to the home page</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>  
    </div>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>