<!DOCTYPE html>
<html>
<head>
    <title>ZHEM: A Synthetic Data Processing Pipeline for Large Language Models</title>
</head>

<style>
    .indent2 {
        padding-left: 2ch;
    }
    .indent4 {
        padding-left: 4ch;
    }
    .indent6 {
        padding-left: 6ch;
    }
</style>

<body>
    <h1>ZHEM: A Synthetic Data Processing Pipeline for Large Language Models</h1>
    <h2>Please select your config type: </h2>

    <!-- The home page only have 2 buttons -->

    <form method="POST" action="/select_config">
        <input type="submit" value="select an existing config">
    </form><br>

    <form method="POST" action="/customize_config">
        <input type="submit" value="customize an config">
    </form>

</body>
</html>