<!DOCTYPE html>
<html>
<head>
    <title>An Integrated Data Processing Framework for Pretraining Foundation Models</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>


<body>
    <div class="container">
        <div class="page-header">
            <div class="row">
                <div class="col-md-1">
                    <a href="/retriever"><img src="{{ url_for('static', filename='imgs/rocket.png') }}" style="height: 60px; margin: 0px;"></a>
                </div>
                <div class="col-md-10">
                    <h1>An Integrated Data Processing Framework for Pretraining Foundation Models</h1>
                </div>
            </div>
        </div>
        
        <div class="wrapper">
            <div class="sidebar">
                <ul>
                <li>Config type</li>
                <li class="with-indent">Select a config</li>
                <li class="with-indent">Customize a config</li>
                <li>Analyzing results</li>
                <li class="active">Processing</li>
                <li>Retriever</li>
                <!-- <li class="with-indent">Retriever results</li> -->
                </ul>
            </div>
            
            <div class="container">
                <!-- first time: no ret_args, display the button; 
                    second time: process is finished, not display the button -->
                <!-- <div class="col-md-6" style="text-align: left; padding-left: 90px; margin-bottom: 10px;"> -->
                <form action="/processing" method="post">
                    <div class="row custom-row">
                        {% if not ret_args %}
                            <div class="col-md-6" style="margin-bottom: 10px;">
                                <button type="submit" class="my-button" id="confirm" style="display: inline-block;" name="confirm" value="confirm" required>confirm</button>
                            </div>
                            <!-- <button type="submit" class="btn btn-primary" id="confirm" style="display: inline;"  name="confirm" value="confirm" required>confirm</button> -->
                        {% endif %}
                    </div>
                    <br>
                    <div class="row custom-row">
                        <span id="waiting" style="display: none;">
                            <h2 style="text-align: left; padding-left: 0px; margin-bottom: 40px;">&nbsp; Processing... Please wait patiently.</h2>
                            <!-- <div id="log-content" style="text-align: left; padding-left: 40px; margin-bottom: 10px;"></div> -->
                        </span>
                    </div>
                </form>
                <!-- </div> -->
            
                
                <script>
                    document.getElementById("confirm").addEventListener("click", function() {
                        document.getElementById("confirm").style.display = "none";
                        document.getElementById("waiting").style.display = "inline";

                        var xhr = new XMLHttpRequest();
                        xhr.open("POST", "/read_log", true);
                        xhr.onreadystatechange = function() {
                            if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
                                document.getElementById("log-content").innerText = xhr.responseText;
                                document.getElementById("confirm").disabled = false; // start
                            }
                        };
                        xhr.send();

                        setInterval(function() {
                            var xhr = new XMLHttpRequest();
                            xhr.open("POST", "/read_log", true);
                            xhr.onreadystatechange = function() {
                                if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
                                    document.getElementById("log-content").innerText = xhr.responseText;
                                }
                            };
                            xhr.send();
                        }, 5000);
                    });
                </script>


                {% if ret_args %}
                    <div class="row custom-row">
                        <div class="col-md-12">
                            <h2 id="waiting" style="text-align: left; padding-left: 0px; margin-bottom: 40px;">&nbsp; Successful!</h2>
                        </div>
                    </div>
                    <div class="row custom-row">
                        <!-- retriever task -->
                        <div class="col-md-6" style="margin-bottom: 10px;">
                            <form method="POST" action="/retriever">
                                <button type="submit" class="my-button" id="retrieve_task" name="retrieve_task" value="retrieve_task">retrieve</button>
                            </form>
                        </div>
                    </div>
                    <br>
                    {% if ret_args['if_debug'] %}
                        <details>
                            <summary class="details-summary">details of debug file</summary>
                            <div class="content">
                                <pre>{{ret_args['debug_file']}}</pre>
                            </div>
                        </details>
                        <br>
                        <br>
                        <details>
                            <summary class="details-summary">dirstribution of refined data</summary>
                                {% if ret_args['figs_list']|length > 0 %}
                                    <div class="image-container">
                                        {% for fig_path in ret_args['figs_list'] %}
                                            <div class="image-item">
                                                <img src="{{ fig_path }}">
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                        </details>
                        <br>
                        <br>
                        <details>
                            <summary class="details-summary">dirstribution of raw data</summary>
                                {% if ret_args['raw_figs_list']|length > 0 %}
                                    <div class="image-container">
                                            {% for fig_path in ret_args['raw_figs_list'] %}
                                                <div class="image-item">
                                                    <img src="{{ fig_path }}">
                                                </div>
                                            {% endfor %}
                                    </div>
                                {% endif %}
                        </details>
                        <br>
                        <br>
                    {% endif %}
                    {% if ret_args['sample_results'] %}
                        <details>
                            <summary class="details-summary">Examples</summary>               
                                <table>
                                    <thead>
                                        <tr>
                                            <th>origin texts</th>
                                            <th>refined texts</th>
                                            <!-- <th>differences</th> -->
                                        </tr>
                                    </thead>
                                
                                    {% for row in ret_args['sample_results'] %}
                                        <tr>
                                            <td><p>{{ row[0] }}</p></td>
                                            <td><p>{{ row[1] }}</p></td>
                                        </tr>
                                    {% endfor %}
                                </table>
                        </details>

                        
                    {% endif %}
                {% endif %}

                <div class="row custom-row">
                    <!-- return to index page -->
                    <div class="col-md-6" style="margin-bottom: 10px; margin-top: 10px;">
                        <form method="POST" action="/">
                            <button type="submit" class="my-button">return to the home page</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>